@import url('https://fonts.googleapis.com/css?family=Fugaz+One');
body{
	background-image: url("https://pbs.twimg.com/media/CpC1N0pUsAA6lLy.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.navbar{
	background-color: rgb(255,182,193, 0.9);
	padding: 0 5px 0 5px !important;
	margin: 0!important;
}

.navbar-brand{
	font-family: 'Fugaz One', cursive;
	color: black;
	font-size: 25px !important;
}
nav a img{
	height: 8vh;
}
			
.login-sidebar{
	display: grid;
	margin: 0 0 0 4%;
	width: 25%;
	height: 88vh;
	background-color: rgb(255,182,193, 0.9);
}

.login-form{
	width: 80%;
	margin: auto;
	font-weight: normal;
}
footer{
	background-color: rgb(255,182,193, 0.9);
	height: 3vh;
	font-weight: bold;
	text-align: center;
}